<h1>Flight Index</h1>

<div class="container">
	<p>Enter a date or an airport: </p>
	<%= form_tag(root_url, method: "get") do %>
		<%= label_tag(:to_options, "To:") %>
		<%= select_tag(:to_options, options_for_select(@to_options)) %>

		<%= label_tag(:from_options, "From:") %>
	    <%= select_tag(:from_options, options_for_select(@from_options)) %>
		
		<%= label_tag(:passengers, "Passengers:") %>
		<%= select_tag(:passengers, options_for_select(@number_of_passengers)) %>

		<%= label_tag(:flight_date, "Date: ") %>
		<%= select_tag(:flight_date, options_from_collection_for_select(Flight.get_dates, 'start_date',
						:date_formatted)) %>

	    <%= submit_tag("Search") %>
	<% end %>
</div>

<% if @found %>
	<p>Results: Choose a Flight </p>
	
	<%= form_tag(new_booking_url, method: "get") do %>
		<% @found.each do |flight| %>
			<%= radio_button_tag(:flight, flight.id) %>
			<%= label_tag("flight-#{flight.id}", "Flight No: #{flight.id}")%>
		
		<% end %>
		<%= hidden_field_tag(:passenger_number, @passengers ) %>
		<br>
		<%= submit_tag("Submit") %>
	<% end %>

<% end %>