<h1>New Booking:</h1>

<ul>
	<li>Date: <%= @flight.start_date %></li>
	<li>Airports:
		<li>To: <%= @flight.to_airport.code %></li>
		<li>From: <%= @flight.from_airport.code %></li>
	</li>
	<li>Flight ID: <%= @flight.id %></li>
</ul>

<%= form_for @booking do |f| %>
	<%= render 'shared/error_messages' %>
    <%= f.hidden_field :flight_id, :value => @flight.id %>
	Passengers:
	<ul>
		<%= f.fields_for :passengers do |passenger_form| %>
			<li>
				<%= passenger_form.label :name %>
				<%= passenger_form.text_field :name %>
				
				<br>
				<%= passenger_form.label :email %>
				<%= passenger_form.text_field :email %>

			</li>
			<br>
		<% end %>
	</ul>
	<%= f.submit "Submit" %>
<% end %>