<h1>Hello, <%= @passenger.name %></h1>
<h2>Booking Information:</h2>

<h3>Arriving to: <%= @booking.flight.to_airport.code %></h3>
<h3>Departing from: <%= @booking.flight.from_airport.code %></h3>
<h3>Date of Departure: <%= @booking.flight.start_date %></h3>

<h3>Flight Duration is estimated to be: <%= @booking.flight.flight_duration %> </h3>
